#game-board {
    height: 900px;
    width: 900px;
    border: black 1px solid;
    margin: auto;
    margin-top: 200px;
  }
  
.node {
  padding: 20px purple;
  border: black 1px solid;
  height: 200px;
  width: 100px;
}
  
img {
  width: 50px;
  height: 100px;
  border: black 1px solid;
}

td {
  background-color: lightgray;
  border-radius: 100px;
}

