div {
  display: inline;
  text-align: center;
}

#game-board {
  height: 900px;
  width: 1000px;
  border: black 1px solid;
  margin: auto;
  margin-top: auto;
}
  
.node {
  padding: 20px purple;
  border: black 1px solid;
  height: 200px;
  width: 100px;
}
  
img {
  border: black 1px solid;
}

td {
  background-color: lightgray;
  border-radius: 100px;
  align-content: center;
}

.banner {
  display: none;
  margin: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.3);
}

.banner-content {
  background-color: lightgray;
  margin: auto;
  padding: 30px;
  border: black 1px solid;
}

h1 {
  text-align: center;
}

#blue {
  color: blue;
}

#red {
  color: red;
}

p {
  display: inline;
  text-align: center;
}

#showing {
  text-align: center;
  margin: auto;
}